body {
    background: #fff;
}

* {
    margin: 0;
    padding: 0;
}

/* 公共部分 */

.clear-f:after {
    content: '';
    display: block;
    clear: both;
}

.clear-t::before {
    content: '';
    display: table;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* 头部分 */

header {
    /* border: 1px solid red; */
    padding-top: 70px;
}

/* 导航 */
header>nav#nav1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    line-height: 48px;
    background-color: #fff;
    box-shadow: 0 1px 15px 1px #AAA;
    padding-top: 10px;
    padding-left: 10%;
    padding-bottom: 20px;
    z-index: 999;
    overflow: visible;
}
header>nav#nav2{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    line-height: 48px;
    background-color: rgb(202, 233, 252);
    box-shadow: 0 1px 15px 1px #AAA;
    z-index: 999;
    overflow: hidden;
}

nav>ul, nav>ul>li, img {
    margin-top: 5px;
    float: left;
}

nav>ul {
    padding-left: 120px;
    position: absolute;
}

nav a {
    display: block;
    text-align: center;
    font-size: 18px;
    color: #666;
    width: 100px;
    height: 48px;
}

nav>ul ul a {
    box-sizing: border-box;
    background-color: #fff;
}

nav>ul>li:hover a {
    background-color: rgb(63, 63, 63);
    color: #fff;
}

.nav-hover {
    display: none;
    position: absolute;
    top: 48px;
    left: 220px;
}

nav>ul>li:hover .nav-hover {
    display: block;
}


.nav-hover a {
    background-color: rgb(63, 63, 63);
    color: #fff;
    border-top: 2px solid #fff;
}
.nav-hover a:hover{
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    background-color: rgb(163, 163, 163);
}


#banner {
    width: 100%;
    height: 380px;
    background: url(/banner/banner-1.jpg) no-repeat 100%;
    position: relative;
    /* margin-top: 38px; */
}

#banner>div {
    height: 100%;
    background-color: rgba(245, 243, 243, 0.7);
    text-align: center;
}

#banner>div p {
    font-size: 48px;
    margin-top: 65px;
    margin-bottom: 30px;
}

#banner>div h6 {
    color: #757575;
    font-size: 24px;
    font-weight: normal;
}

#banner>div>div {
    border: 3px solid #333;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    bottom: -50px;
    margin-left: -100px;
}
.banner-item-ul{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-50%)
}
.banner-item-ul ul li{
    float: left;
}
.banner-item-ul ul li{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    background-image: url(/icons.png);
    background-repeat: no-repeat;
    background-position: -27px -14px;
    cursor: pointer;
}
.banner-item-ul ul li:nth-of-type(2){
    background-position: -77px -14px !important;
}
.banner-item-ul ul li:nth-of-type(3){
    background-position: -127px -14px !important;
}
.banner-item-ul ul li:nth-of-type(4){
    background-position: -177px -14px !important;
}
