body {
    background: #fff;
}

* {
    margin: 0;
    padding: 0;
}

/* 公共部分 */

.clear-f:after {
    content: '';
    display: block;
    clear: both;
}

.clear-t::before {
    content: '';
    display: table;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* 头部分 */

header {
    /* border: 1px solid red; */
    padding-top: 70px;
}

/* 导航 */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    line-height: 48px;
    background-color: #fff;
    box-shadow: 0 1px 15px 1px #AAA;
    padding-top: 40px;
    padding-left: 10%;
    padding-bottom: 20px;
    z-index: 999;
}

nav>ul, nav>ul>li, img {
    float: left;
}

nav>ul {
    padding-left: 120px;
    position: absolute;
}

nav a {
    display: block;
    text-align: center;
    font-size: 18px;
    color: #666;
    width: 100px;
    height: 48px;
}

nav>ul ul a {
    box-sizing: border-box;
    background-color: #fff;
    /* border-bottom:2px solid #999; */
}

nav>ul>li:hover a {
    background-color: rgb(63, 63, 63);
    color: #fff;
    border-bottom: 2px solid #fff;
}

.nav-hover {
    display: none;
    border-top: 3px solid #fff;
    position: absolute;
    top: 48px;
    left: 220px;
}

nav>ul>li:hover .nav-hover {
    display: block;
}


.nav-hover a {
    background-color: rgb(63, 63, 63);
    color: #fff;
    border-bottom: 2px solid #fff;
}
.nav-hover a:hover{
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    background-color: rgb(163, 163, 163);
    border-bottom: 2px solid #fff;
}


#banner {
    width: 100%;
    height: 380px;
    background: url(/banner/banner-1.jpg) no-repeat 100%;
    position: relative;
    margin-top: 38px;;
}

#banner>div {
    height: 100%;
    background-color: rgba(245, 243, 243, 0.7);
    text-align: center;
}

#banner>div p {
    font-size: 48px;
    margin-top: 65px;
    margin-bottom: 30px;
}

#banner>div h6 {
    color: #757575;
    font-size: 24px;
    font-weight: normal;
}

#banner>div>div {
    border: 3px solid #333;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    bottom: -50px;
    margin-left: -100px;
    background: url(/icons.png) no-repeat;
    background-position: bottom;
}
