body{
    width: 100%;
    height: 722px;
    background-image: url(/img/01_index.jpg);
    background-repeat: no-repeat;
    /* background-size: 100%; */
    background-size:cover;
    background-attachment: fixed;
}
a{
    text-decoration: none;
}

#btn{
    width: 300px;
    box-sizing: border-box;
    line-height: 40px;
    border: 1px white solid;
    background-color: rgba(0, 0, 0, .7);
    margin-left:-150px; 
    margin-top: -60px;
    padding: 7px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
}

#btn>a{
    display: inline-block;
    font-weight: bold;
    color: white;
    border: 1px white solid;
    width: 48%;
    height: 98%;
    text-align: center;
}
#btn>a:hover{
    color: #fff; 
    text-shadow: 1px 1px 2px #000;
    background: linear-gradient(to top, #fa2828 0%, #f8fc3a 100%);
}

#footer{
    width: 100%;
    color: white;
    text-align: center;
    padding-bottom: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
}

#footer>a{
    color: white;
}