body {
    width: 100%;
    height: 722px;
    background-image: url(/img/other/bg_login.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #ccc;
    /* background-attachment: fixed; */
}

#content>div {
    background-color: rgba(200, 200, 200, .2);
    width: 100%;
    height: 100%;
    position: relative;
}

a{
    text-decoration: none;
}


#item {
    width: 590px;
    height: 460px;
    position: absolute;
    top: 115px;
    left: 150px;
    background: rgba(255, 255, 255, 0.781);
    border-radius: 50% 50%;
}


#item>h2 {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    font-size: 38px;
    color: #4b4848;
    border-bottom: 2px dashed #999;
    margin-top: 34px;
    padding-bottom: 10px;
    margin-bottom:49px;
}


form {
    width: 80%;
    margin: 0 auto;
}

form .unit {
    font-size: 16px;
    position: relative;
    padding: 10px 15px 10px;
    text-align: center;
}
form .unit>span{
    font-size: 18px;
    line-height: 22px;
    color: #f00;
    text-shadow: 1px 1px 2px rgb(248, 246, 246);
    position: absolute;
    top: 20px;
    right: -12px;
}


form input {
    width: 66%;
    line-height: 32px;
    font-size: 18px;
    padding-left: 15px;
    margin-left: -55px;
    margin-bottom: 20px;
    border: 1px solid #717171;
    border-radius: 2px;
    outline: none;
    background-image: url(/img/yhm.png);
    background-repeat: no-repeat;
    background-position:96% center ;
}
input#upwd{
    background-image: url(/img/mm.png);
    background-repeat: no-repeat;
    background-position:96% center ;
}

#bon {
    padding-left: 55px;
    padding-right: 20px;
}

#bon>button {
    width: 25%;
    padding: 10px 19px;
    background:rgb(84, 168, 224);;
    color: #fff;
    border: 0;
    border-radius: 2px;
    font-weight: 600;
    font-size: 16px;
    outline: none;
    margin-top: 15px;
    cursor: pointer;
}
#bon>button:hover{
    background: rgba(0, 0, 0, 0.705);
}

#bon:after{
    content: '';
    display: block;
    clear: both;
}

#bon>a {
    float: right;
    display: block;
    font-size: 14px;
    padding: 6px;

}

#bon>a:hover {
    text-decoration: underline;
    font-weight: 500;
    color: blue;
} 

