body {
    background: #fff;
}

* {
    margin: 0;
    padding: 0;
}

/* 公共部分 */

.clear-f:after {
    content: '';
    display: block;
    clear: both;
}

.clear-t::before {
    content: '';
    display: table;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* 头部分 */

header {
    /* border: 1px solid red; */
    padding-top: 70px;
}

/* 导航 */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    line-height: 48px;
    background-color: #fff;
    box-shadow: 0 1px 15px 1px #AAA;
    padding-top: 40px;
    padding-left: 10%;
    z-index: 999;
}

nav>ul, nav>ul>li, img {
    float: left;
}

nav>ul {
    padding-left: 120px;
    position: absolute;
}

nav a {
    display: block;
    text-align: center;
    font-size: 18px;
    color: #666;
    width: 100px;
    height: 48px;
}

nav>ul ul a {
    box-sizing: border-box;
    background-color: #fff;
    /* border-bottom:2px solid #999; */
}

nav>ul>li a:hover {
    background-color: rgb(231, 231, 231);
    border-bottom: 2px solid #fff;
}

.nav-hover {
    display: none;
    border-top: 3px solid #fff;
    position: absolute;
    top: 48px;
    left: 220px;
}

.nav-hover a {
    background-color: rgb(221, 220, 220);
    border-bottom: 2px solid #fff;
}

nav>ul>li:hover .nav-hover {
    display: block;
}

#banner {
    width: 100%;
    height: 380px;
    background: url(/banner/banner-1.jpg) no-repeat 100%;
    position: relative;
}

#banner>div {
    height: 100%;
    background-color: rgba(245, 243, 243, 0.7);
    text-align: center;
}

#banner>div p {
    font-size: 48px;
    margin-top: 65px;
    margin-bottom: 30px;
}

#banner>div h6 {
    color: #757575;
    font-size: 24px;
    font-weight: normal;
}

#banner>div>div {
    border: 3px solid #333;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    bottom: -50px;
    margin-left: -100px;
    background: url(/icons.png) no-repeat;
    background-position: bottom;
}

/* 主体部分 */

section {
    margin-top: 100px;
}

section>div {
    width: 80%;
    margin: 0 auto;
}


section>#nav>ul>li {
    float: left;
    width: 70px;
}

section>#nav>ul>li>a {
    box-sizing: border-box;
    border-left: 2px solid transparent;
    padding-left: 3px;
    display: block;
    width: 100%;
    color: #959595;
    font-size: 18px;
    transition: 1s;
}

section>#nav>ul>li>a:hover {
    color: #666;
    border-left: 2px solid #333;
}


div#all-poto {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

div#all-poto>div {
    width: 370px;
    /* border: 1px solid red; */
}

#all-poto>div div+div {
    margin-top: 30px;
}

.section-btn{
    margin-top: 75px;
    margin-bottom: 100px;
    /* background-color: #f00; */
}
    .more-btn{
        height: 50px;
        width: 230px;
        margin: 0 auto;
        line-height: 55px;
        background-color: #f9f9f9;
        position: relative;
    }
    .more-btn:hover::after{
        width: 75%;
    }
    .more-btn a{
        letter-spacing: 3px;
        color: #090909;
        display: block;
        width: 100%;
        text-align: center;
    }
    .more-btn:before{
        content: '';
        position: absolute;
        top: 0;
        background-color: #e7e7e7;
        height: 5px;
        width: 100%;
        left: 0;
    }
    .more-btn:after{
        content: '';
        position: absolute;
        top: 0;
        background-color: #090909;
        height: 5px;
        width: 50%;
        left: 0;
        transition: all .5s ease-in-out;
    }

#page-to-email{
    background:url(/banner/news-banner.jpg) no-repeat;
    background-size: 100%;
    height: 360px;
}
#page-to-email .page-bg{
    background-color: rgba(249, 249, 249,.7);
    height: 100%;
}
.page-bg .email-title h2{
    text-align: center;
    margin: 0 auto;
    font-size: 36px;
    font-weight: 400;
    padding: 60px 0 80px;
}

.email-input{
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    position: relative;
}
.email-input>input{
    box-sizing: border-box;
    width: 100%;
    line-height: 48px;
    padding-left: 20px;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #555555;
}
.email-input>input:focus{
    border-bottom-color: #E7E7E7;
}

.email-input>span{
    position: absolute;
    top: 20px;
    right: 25px;
    display: block;
    width: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.section-title{
    margin-top: 60px;
    margin-bottom: 60px;;
}

.section-bottom{
    display: flex;
    justify-content: space-between;
}
.section-bottom>div{
    width: 370px;
}

.date-ul{
    margin-top: 20px;
    margin-bottom: 20px;
}
.date-ul>ul>li{
    float: left;
}

.date-ul>ul>li + li::before{
    content: '/';
    margin-left: 10px;
    margin-right: 10px;
    color: #ccc;
}

.date-ul>ul>li a{
    color: #aaa;
}

.bottom-comtent>h2{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 10px;;
}
.bottom-comtent>h2 a{
    color: #444;
}

.bottom-comtent>p{
    font-size: 16px;
    line-height: 25px;
    color: #999;
    padding-bottom: 10px;
    border-bottom: 1px solid #aaa;
    margin-bottom: 20px;
}


.bottom-a{
    position: relative;
    margin-bottom: 40px;
}
.bottom-a,.bottom-a a{
    color: #959595;
}
.bottom-left{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    
}

.bottom-right{
    float: right;
}

.bottom-a>a>div{
    display: inline-block;
    width: 20px;
    height: 20px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 83px;
}
.bottom-a>a>div>span{
    margin-left: -15px;
}
.bottom-left:hover div>span{
    transition: all .5s;
    margin-left: 3px;
}


footer{
    width: 80%;
    margin: 0 auto;
    background-color: #f2f2f2;
    padding: 50px 0px;
}
footer p{
    text-align: center;
}