/* 主体部分 */

section {
    margin: 100px auto 0;
    width: 1215px;
}

section>div {
    width: 100%;
}

section>#nav>ul>li {
    float: left;
    width: 70px;
}

section>#nav>ul>li>a {
    box-sizing: border-box;
    border-left: 2px solid transparent;
    padding-left: 3px;
    display: block;
    width: 100%;
    color: #959595;
    font-size: 18px;
    transition: 1s;
}

section>#nav>ul>li>a:hover {
    color: #666;
    border-left: 2px solid #333;
}

div#all-photo {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

div#all-photo>div {
    width: 370px;
    /* border: 1px solid red; */
}

#all-photo>div>div+div {
    margin-top: 30px;
}

#all-photo>div>div {
    position: relative;
    cursor: pointer;
}

#all-photo>div>div img {
    float: none !important;
}
.yanChi{
    width: 50%;
    text-align: left;
    position: absolute;
    right: 0;
    bottom: 15px;
    z-index: 100;
    font-family: '宋体';
    opacity: 0;
}

.yanChi h3{
    margin-bottom: 10px;
}
#all-photo>div>div:hover .yanChi{
    transition: all .5s .5s;
    opacity: 1;
}
/* 方框弹出的过度出效果 */

#all-photo>div>div::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    background-color: rgba(231, 227, 227, .5);
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s;
}

#all-photo>div>div::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    background-color: rgba(231, 227, 227, .5);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all .5s .1s;
}

#all-photo>div>div:hover::after, #all-photo>div>div:hover::before {
    width: 100%;
    height: 100%;
}

.section-btn {
    margin-top: 75px;
    margin-bottom: 100px;
    /* background-color: #f00; */
}

.more-btn {
    height: 50px;
    width: 230px;
    margin: 0 auto;
    line-height: 55px;
    background-color: #f9f9f9;
    position: relative;
}

.more-btn:hover::after {
    width: 75%;
}

.more-btn a {
    letter-spacing: 3px;
    color: #090909;
    display: block;
    width: 100%;
    text-align: center;
}

.more-btn:before {
    content: '';
    position: absolute;
    top: 0;
    background-color: #e7e7e7;
    height: 5px;
    width: 100%;
    left: 0;
}

.more-btn:after {
    content: '';
    position: absolute;
    top: 0;
    background-color: #090909;
    height: 5px;
    width: 50%;
    left: 0;
    transition: all .5s ease-in-out;
}

#page-to-email {
    background: url(/banner/news-banner.jpg) no-repeat;
    background-size: 100% 100%;
    height: 360px;
}

#page-to-email .page-bg {
    background-color: rgba(249, 249, 249, .7);
    height: 100%;
}

.page-bg .email-title h2 {
    text-align: center;
    margin: 0 auto;
    font-size: 36px;
    font-weight: 400;
    padding: 60px 0 80px;
}

.email-input {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    position: relative;
}

.email-input>input {
    box-sizing: border-box;
    width: 100%;
    line-height: 48px;
    padding-left: 20px;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #555555;
}

.email-input>input:focus {
    border-bottom-color: #E7E7E7;
}

.email-input>span {
    position: absolute;
    top: 20px;
    right: 25px;
    display: block;
    width: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.section-title {
    margin-top: 60px;
    margin-bottom: 60px;
}

.section-bottom {
    display: flex;
    justify-content: space-between;
}

.section-bottom>div {
    width: 370px;
    height: 685px;
}
.section-bottom>div>div>img{
    width: 370px;height: 370px;
}
.date-ul {
    margin-top: 20px;
    margin-bottom: 20px;
}

.date-ul>ul>li {
    float: left;
}

.date-ul>ul>li+li::before {
    content: '/';
    margin-left: 10px;
    margin-right: 10px;
    color: #ccc;
}

.date-ul>ul>li a {
    color: #aaa;
}

.bottom-comtent>h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 10px;
}

.bottom-comtent>h2 a {
    color: #444;
}

.bottom-comtent>p {
    font-size: 16px;
    height: 110px;
    line-height: 25px;
    color: #999;
    padding-bottom: 10px;
    border-bottom: 1px solid #aaa;
    margin-bottom: 20px;
}

.bottom-a {
    position: relative;
    margin-bottom: 40px;
}

.bottom-a, .bottom-a a {
    color: #959595;
}

.bottom-left {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.bottom-right {
    float: right;
}

.bottom-a>a>div {
    display: inline-block;
    width: 20px;
    height: 20px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 83px;
}

.bottom-a>a>div>span {
    margin-left: -15px;
}

.bottom-left:hover div>span {
    transition: all .5s;
    margin-left: 3px;
}

footer {
    width: 1215px;
    margin: 0 auto;
    background-color: #f2f2f2;
    padding: 50px 0px;
}

footer p {
    text-align: center;
}