#content {
    width: 100%;
    height: 800px;
    background-image: url(/img/register_01.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

#content>div {
    background-color: rgba(209, 231, 153, .7);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#item {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    background: rgba(168, 240, 230, 0.425);
    position: relative;
}
#item>div:nth-child(2) {
    width: 40px;
    height: 40px;
    background: url(/img/sprite_1.png) no-repeat;
    background-position: -188px -42px;
    position: absolute;
    top: 119px;
    right: 186px;
    cursor: pointer;
}
#item>h2 {
    width: 69%;
    text-align: center;
    margin: 0 auto;
    font-size: 68px;
    color: white;
    font-family: 楷体, 雅黑;
    text-shadow: 1px 1px 2px blue;
    border-bottom: 3px #fff solid;
    margin-top: 30px;
    padding-bottom: 50px;
}

#item:before {
    content: '';
    display: table;
}

form {
    width: 80%;
    height: 330px;
    margin: 0 auto;
    position: relative;
}

form .unit {
    font-size: 20px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
}

form>div:first-child {
    margin-top: 80px;
}

form>div:nth-child(4) {
    margin-bottom: 80px;
}

.unit span {
    font-size: 12px;
    color: red;
    margin-left: 20px;
}

.unit label {
    font-size: 26px;
    color: #fff;
    text-shadow: 1px 1px 3px blue;
    vertical-align: middle;
}

form input {
    width: 54%;
    font-size: 18px;
    line-height: 38px;
    padding-left: 15px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 4px;
    outline: none;
}

#bon {
    text-align: center;
}

#bon>button {
    width: 24%;
    padding: 15px 19px;
    border-radius: 5px;
    background: rgba(4, 182, 182, 0.897);
    color: #fff;
    font-size: 22px;
    border: 1px solid #EBEBEB;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

#bon>button:hover {
    background: rgba(32, 211, 211, 0.897)
}

