body {
    background-image: url(/img/bg_login.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#content {
    width: 30%;
    height: 550px;
    border-radius: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -40%;
    margin-top: -250px;
    background-color: rgba(61, 34, 34, 0.473);
}

#content>h3 {
    margin: 20px 0;
    font-size: 32px;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
}

#content div {
    margin-top: 40px;
    position: relative;
}

#content div>input {
    width: 80%;
    line-height: 36px;
    padding-left: 15px;
    font-size: 18px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-image: url(/img/yhm.png);
    background-repeat: no-repeat;
    background-position: 96% center;
}

#content>div:nth-child(5)>input {
    background-image: url(/img/mm.png);
    background-repeat: no-repeat;
    background-position: 96% center;
}

#content>div:nth-child(6)>input {
    background-image: url(/img/mm.png);
    background-repeat: no-repeat;
    background-position: 96% center;
}

#content div>span {
    position: absolute;
    top: 50px;
    /* left: 300px; */
    color: #fff;
    text-shadow: 1px 1px 2px rgb(109, 204, 248);
}

#content>div {
    text-align: center;
}

#btn {
    display: block;
    width: 80%;
    padding: 10px 19px;
    background: rgb(84, 168, 224);
    ;
    color: #fff;
    border: 0;
    border-radius: 2px;
    font-weight: 600;
    font-size: 18px;
    outline: none;
    margin: 15px auto 0;
    cursor: pointer;
}